*{
    margin: 0px;
    padding: 0px;
}
.firstdiv{
background-color: white;
height:105vh ;
width:105vw;
border: 0px solid;

}
.abc{
height: 90vh;
width: 95vw;
background: linear-gradient(to top right, rgb(0, 255, 0),rgb(0, 183, 255));
}
.abcd{
    background-color: white;
height: 450px;
width: 600px;
position: absolute;
top: 100px;
left: 450px;
}
.aaa{
 height: 400px;
    width: 544px;
    display: grid;
grid-template-columns:auto auto;

}
.username{
    width: 250px;
    padding: 10px 15px;
    margin: 10px;
    box-sizing: border-box;
    border-radius:1px;
    border: 1px solid white;
    background-color: rgba(200, 200, 200, 0.313);
position: absolute;
top: 56px;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
}
.div{
position: absolute;
top: 30px;
left: 30px;
}
.website{
    width: 525px;
    padding: 10px 15px;
    margin: 10px;
    box-sizing: border-box;
    border-radius:1px;
    border: 1px solid white;
    background-color: rgba(200, 200, 200, 0.313);
    position: absolute;
    bottom: 250px;
}
.divp{
position: absolute;
bottom:290px ;

}
/* .message{
    height: 100px;
    width: 525px;
    padding: 10px 15px;
    margin: 10px;
    box-sizing: border-box;
    border-radius:1px;
    border: 1px solid white;
    background-color: rgba(200, 200, 200, 0.313);
    position: absolute;
    bottom: 110px; 
}
.messagep{
    position: absolute;
bottom:215px;
} */
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 10px;
}
button{
    color: white;
    border: 0px;
height: 40px;
width: 90px;
position: absolute;
bottom: 50px;
left: 230px;
background: linear-gradient(to bottom left, rgb(0, 255, 0),rgb(0, 183, 255));
}
.calls{
position: absolute;
left: 185px;
bottom: 0px;
color: azure;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover{
background: linear-gradient(to top right,rgb(0, 255, 0),rgb(0, 183, 255));
cursor: pointer;
color: black;
}
#message{
width: 525px;
height: 100px;
position: absolute;
bottom: 105px;
left: 10px;
border: 0px;
background-color: rgba(200, 200, 200, 0.313);

}
.message{
position: absolute;
bottom:210px ;
left: 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}